<h1>All Borrowers Old and New</h1>
<%= render partial: 'layouts/errors', locals: {object: @borrower} %>

<% @borrowers.each do |b|%>
    <li><%=link_to "#{b.name}", new_borrower_loan_path(b) %> is borrowing <%= link_to "tool(s)", borrower_loans_path(b) %></li>
<% end %>

<br>
<%= link_to "Add Borrower", new_borrower_path(@borrower) %>
