<h1>All Borrowers Old and New</h1>
<%= render partial: 'layouts/errors', locals: {object: @borrower} %>

<% @borrowers.each do |b|%>
    <li><%= b.name%></li>
<% end %>

<br>
<%= link_to "Add Borrower", new_borrower_path(@borrower) %>
