
<p><strong><%= @tool.name %></strong> is <%= @tool.description %></p>
<ul>Status:
  <% if @tool.in_library %>
    Available!
  <% else %>
    On loan
  <% end %>
</ul>
<%= link_to "Edit Tool", edit_tool_path(@tool) %>
